<header>
  <div class="logo">🎮 GAMETIX</div>

  <nav class="menu">
    <a routerLink="/catalogo" routerLinkActive="active">Catálogo</a>
    <!-- <a routerLink="/categorias" routerLinkActive="active">Categorías</a> -->
    <a routerLink="/lista-deseos" routerLinkActive="active">Lista de deseos</a>
    <a routerLink="/carrito" routerLinkActive="active">Carrito</a>
    <a routerLink="/pedidos" routerLinkActive="active">Pedidos</a>
    <a routerLink="/pagos" routerLinkActive="active">Pagos</a>
    @if (isAdmin()) {
    <a routerLink="/admin-productos" routerLinkActive="active">Administrar productos</a>
    <a routerLink="/admin-categorias" routerLinkActive="active">Administrar categorías</a>
    }


    @if (isLoggedIn()) {
    <button class="btn-logout" (click)="logout()">Cerrar sesión</button>
    } @else {
    <a routerLink="/login" routerLinkActive="active" class="btn-login">Iniciar sesión</a>
    }
  </nav>
</header>