<div class="wishlist-container">

  <h1>Mi Lista de Deseos ❤️</h1>

  @if (productos.length === 0) {
    <p class="empty">
      Tu lista está vacía. Agrega productos desde el catálogo.
    </p>
  }

  @if (productos.length > 0) {

    <table class="wishlist-table">

      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        @for (producto of productos; track producto.id) {
          <tr>
            <td>
              {{ producto.name }}
            </td>

            <td>
              ${{ producto.precio?.toLocaleString('es-CL') }}
            </td>

            <td class="acciones">

              <!--button class="btn-carrito"
                      (click)="enviarProductoAlCarrito(producto)">
                🛒
              </button-->

              <button class="btn-eliminar"
                      (click)="eliminarProductoDeLista(producto)">
                🗑
              </button>

            </td>
          </tr>
        }
      </tbody>

    </table>

  }

</div>