<div class="login-container">
  <div class="login-card">
    
    <div class="logo">🎮 GAMETIX</div>
    <h2>Iniciar sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- EMAIL -->
      <div class="form-group">
        <input 
          type="email"
          placeholder="Correo electrónico"
          formControlName="email"
        />

        @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
          <small class="error">
            @if (loginForm.get('email')?.errors?.['required']) {
              El correo es obligatorio
            }
            @if (loginForm.get('email')?.errors?.['email']) {
              Formato de correo inválido
            }
          </small>
        }
      </div>

      <!-- PASSWORD -->
      <div class="form-group">
        <input 
          type="password"
          placeholder="Contraseña"
          formControlName="password"
        />

        @if (loginForm.get('password')?.touched && loginForm.get('password')?.invalid) {
          <small class="error">
            La contraseña es obligatoria
          </small>
        }
      </div>

      <!-- BOTÓN -->
      <button 
        type="submit" 
        class="btn-primary">
        Iniciar sesión
      </button>

    </form>

    <p>
      ¿No tienes cuenta?
      <a routerLink="/registro">
        Regístrate
      </a>
    </p>

  </div>
</div>